# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Temporary Excel or OS Locks
~$*
.DS_Store
Thumbs.db

# Large ZIP archives (optional: keep if you want to push zip, or ignore)
# SCOA032_Final_Submission.zip
